*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}

@font-face {
    font-family: luckiest;
    src: url('./fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf');
}

body{
    background-color: #000000;
}

.page{
    background-color: #A3F9FF ;
    margin:auto;
    width: 80vw;
    height: 100vh;
    position: relative;
}

.zebra{
    position: absolute;
    bottom: 0;
    background-image: url("./img/web/zebra-crossing.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    width: 100%;
    height: 80%;
    z-index: 1;
}

.cloud-1{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 15px;
    opacity: 0.8;    
    z-index: 1;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: moveRight 20s infinite both linear;
}

.cloud-2{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 180px;   
    opacity: 0.5;    
    z-index: 0;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: moveRight 23s infinite both reverse linear;
}

@keyframes moveRight{
    from { transform: translateX(-100px);}
    to { transform: translateX(1130px);}
}

.start-button{
    /* display: none; */
    position: absolute;
    margin: auto;
    padding-top: 100px;
    position: relative;
    width: 300px;    
    height: 280px;
    z-index: 2;
}

.start-button p {
    text-align: center;
    font-family: luckiest;
    font-size: 100px;
    color: #EB5329;
    line-height: 1em;
    height: 1.9em;
    overflow: hidden;
    opacity: 0;
   
}

.game-text:hover{
    cursor: pointer;
}

.orange-box {    
    position: absolute;    
    width: 400px;
    height: 290px;
    left: 50%;
    top: 50%;
    margin-left: -200px;      
    margin-top: -800px;
    background: #EB5329;
    border-radius: 2%;
    text-align: center;    
    z-index: 3;        
}

.instructions-msg{
    margin-top: 5%; 
    text-align: center;
    font-family: luckiest;
    font-size: 36px;
    color: #A3F9FF;
    margin-bottom: 30px;
}

.arrows {    
    width: 212px;
    height: 138px;    
}

.numbers{
    font-family: luckiest;
    font-size: 200px;
    height: 100%;
    color: #A3F9FF;        
    margin-top: 5%;
}

@keyframes drop-box {
    0%{}
    70%{transform: translateY(530px)}
    100%{transform: translateY(480px)}
}

.car{
    position: absolute;
    background-image: url(./img/web/frontCar.png);
    background-repeat: no-repeat; 
    width: 129px;
    height: 30%;
    top: 38%;
    left: 40%;    
    z-index: 2;    
}

.logo{    
    position: absolute;
    background-image: url(./img/web/chilling_frog.png);
    background-repeat: no-repeat; 
    width: 580px;
    height: 210px;
    top: 50%;
    left: 50%;
    margin-left: -290px;
    margin-top: 20px;
    z-index: 2;    
}

.game {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -350px;
    z-index: 3;
}

.game-area{
    position: relative;            
    margin: auto;
}

#myCanvas {
    position: relative;                
    margin: auto;
    width: 700px;
    height: 500px;
    border:1px solid #000000;        
}